<CascadingAuthenticationState>

	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ShopLayout)">
				<NotAuthorized>
					<h3>Whoops! You're not allowed to see this page.</h3>
					<h3>Please <a class="link-secondary" href="login">login</a> or <a class="link-secondary" href="register">register</a> for a new account.</h3>
				</NotAuthorized>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(ShopLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>

</CascadingAuthenticationState>